@model BargainNet.Core.Entities.User

@{
    ViewData["Title"] = "Details";
        Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container d-flex justify-content-between align-content-center">


    <div class="text-center img rounded-circle bg-dark">
        <img class="image-profile rounded-circle" src="@Model.UserProfile.ProfilePic" />
    </div>
    @if (Model.UserProfile.LegalPerson != null)
    {
        <div class="">
            <h4 class="display-4">@Model.UserProfile.LegalPerson.CompanyName</h4>
        </div>
    }
    else if (Model.UserProfile.NaturalPerson != null)
    {
        <div class="d-flex align-content-center">
            <h4 class="display-4">@Model.UserProfile.NaturalPerson.FullName</h4>
        </div>
    }

    <label>Você tem @Model.UserProfile.BarganhaPoints BarganhaPoints</label>

</div>
<div>
    <div class="d-flex justify-content-between">
        <h4>Meus anuncios</h4>
        @Html.ActionLink("Criar novo leilão", "Create", "Auctions", null, new { @class = "btn btn-danger" })
    </div>
    <hr />
    <div class="d-flex overflow-auto">
        @foreach (var item in Model.UserProfile.AdAuctions)
        {
            <div class="col-4">
                <partial name="~/Views/Shared/_AuctionCard.cshtml" model="item" />
            </div>
        }
    </div>
    <div id="interests">
        
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        const checkNotify = async () => {
            const notify = $('#notify').val() == null ? 0 : $('#notify').val()
            $.ajax({
                type: 'GET',
                url: `/UserProfiles/CheckNotify`,
                data: {
                    notify
                },
                dataType: 'html',
                cache: false,
                async: true,
                success: function (data) {
                    $('#interests').html(data);
                }
            });
        }
        setInterval(checkNotify, 5000)
            
    </script>
}