@model BargainNet.Core.Entities.User

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var auctions = Model.UserProfile.TotalSlotsAd - Model.UserProfile.AdAuctions.Count;
}
<div class="d-flex flex-column">

    <div class="d-flex justify-content-between align-content-center pb-3 border-bottom">
        <div class="rounded-circle bg-dark">
            <img class="image-profile rounded-circle" src="@Model.UserProfile.ProfilePic" />
        </div>
        <div class="d-flex flex-column align-content-center">
            @if (Model.UserProfile.LegalPerson != null)
            {
                <h4 class="display-2">@Model.UserProfile.LegalPerson.CompanyName</h4>
            }
            else if (Model.UserProfile.NaturalPerson != null)
            {
                <h4 class="">@Model.UserProfile.NaturalPerson.FullName</h4>
            }
            <label>Você tem @Model.UserProfile.BarganhaPoints BarganhaPoints</label>
            <label>@auctions anúncios disponiveis</label>
        </div>
    </div>
    <span class="badge badge-danger"> <a class="text-white text-decoration-none" asp-controller="Auctions" asp-action="Index" ><span id="notify">0</span> novas matches de interesse </a></span>

</div>
<div class="pt-3">
    <div class="d-flex justify-content-between align-content-center">
        <h4>Meus anuncios</h4>
        @Html.ActionLink("Criar novo leilão", "Create", "Auctions", null, new { @class = "btn btn-danger" })
    </div>
    <hr />
    <div class="d-flex flex-column-reverse justify-content-center align-content-center ">
        @foreach (var item in Model.UserProfile.AdAuctions)
        {
            <partial name="~/Views/Shared/_AuctionCard.cshtml" model="item" />
        }
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        const checkNotify = async () => {
                
            $.ajax({
                type: 'GET',
                url: `/UserProfiles/CheckNotify`,
                dataType: 'json',
                cache: false,
                async: true,
                success: function (data) {
                    $('#notify').html(data);
                }
            });
        }
        $(document).ready(function () {
            setInterval(checkNotify, 10000)
        })

    </script>
}