@using Microsoft.AspNetCore.Identity
@using BargainNet.Core.Entities

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@if (SignInManager.IsSignedIn(User))
{
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <h2 class="navbar-brand display-1">@UserManager.GetUserName(User)</h2>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">


                        <li class="nav-item">
                            @Html.ActionLink("Minha área", "Details", "UserProfiles", null , new { @class = "nav-link text-dark" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Meus interesses", "SetInterests", "UserProfiles", null, new { @class = "nav-link text-dark" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Leilões de interesse", "Index", "Auctions", null, new { @class = "nav-link text-dark" })
                        </li>
                        <li class="nav-item border-top">
                            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" } )">
                                <button id="logout" type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

}